:root {
    /* https://m1.material.io/style/color.html#color-color-palette */
    /* Blue */
    --clr-primary-50: #E3F2FD;
    --clr-primary-100: #BBDEFB;
    --clr-primary-200: #90CAF9;
    --clr-primary-300: #64B5F6;
    --clr-primary-400: #42A5F5;
    --clr-primary-500: #2196F3;
    --clr-primary-600: #1E88E5;
    --clr-primary-700: #1976D2;
    --clr-primary-800: #1565C0;
    --clr-primary-900: #0D47A1;

    /* Red */
    --clr-A100: #FF8A80;
    --clr-A200: #FF5252;
    --clr-A400: #FF1744;
    --clr-A700: #D50000;

    --br: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
border: 2px solid red;
padding: 2px;
*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    height: 100vh;
}

h2 {
    color: var(--clr-primary-700);
}

.home-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.tabContainer {
    display: flex;
    justify-content: space-around;
}

/* This rule must be applied after each page container (home/project/schedule) */
.tabInactive {
    display: none;
}

main {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: scroll;
}

button {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 30px;
}

textarea {
    height: 100%;
    width: 100%;
    margin: auto;
}

.tabButton {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    background-color: white;
    color: var(--clr-primary-700);
}

.btnActive {
    background-color: var(--clr-primary-700);
    color: white;
}


/* buttons */
button {
    border: 0px;
    box-shadow: 0 2px 2px #888888;
}

.add-button {
    background-color: var(--clr-primary-700);
    color: white;
}

.delete-button {
    background-color: var(--clr-primary-100);
    color: var(--clr-A400);
}


.header {
    background-color: var(--clr-primary-100);
    padding: 10px;
}

.footer {
    font-size: small;
    padding: 5px;
}

/* Cards */
.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    border-radius: var(--br);
    padding: 5px;
}

.card>* {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    gap: 10px;
}

/* Override normal card behavior to center todos */
.project-view-card-main {
    justify-content: space-evenly;
}

.card.todo {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}