:root {
    /* https://m1.material.io/style/color.html#color-color-palette */
    --clr-primary-50: #ECEFF1;
    --clr-primary-100: #CFD8DC;
    --clr-primary-200: #B0BEC5;
    --clr-primary-300: #90A4AE;
    --clr-primary-400: #78909C;
    --clr-primary-500: #607D8B;
    --clr-primary-600: #546E7A;
    --clr-primary-700: #455A64;
    --clr-primary-800: #37474F;
    --clr-primary-900: #263238;

    --clr-A100: #FFFF8D;
    --clr-A200: #FFFF00;
    --clr-A400: #FFEA00;
    --clr-A700: #FFD600;

    --br: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
border: 2px solid red;
padding: 2px;
*/

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    height: 100vh;
}

.home-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.tabContainer {
    display: flex;
    justify-content: space-around;
}

/* This rule must be applied after each page container (home/project/schedule) */
.tabInactive {
    display: none;
}

#todo-title,
#todo-content,
#project-name {
    justify-content: center;
    margin-top: 20px;
    width: 95%;
    border-radius: var(--br);
    padding: 5px;
}

main {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: scroll;
}

button {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 30px;
}

textarea {
    height: 100%;
    width: 100%;
    margin: auto;
}

.tabButton {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    background-color: var(--clr-primary-500);
    color: white;
}

.btnActive {
    background-color: var(--clr-primary-700);
    color: var(--clr-A400);
}

.header {
    background-color: var(--clr-primary-100);
    padding: 10px;
}

.footer {
    font-size: small;
    padding: 5px;
}

.todoCard {
    display: grid;
    grid-template-rows: auto 1fr auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 15px;
    border: 2px solid black;
    border-radius: var(--br);
}

.todoCard>* {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.projectInput {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 15px;
    border-radius: var(--br);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projectCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 15px;
    border-radius: var(--br);
    padding: 10px;
}

.project-card-header {
    display: flex;
    justify-content: space-between;
}