:root {
    /* https://m1.material.io/style/color.html#color-color-palette */
    --clr-primary-50: #ECEFF1;
    --clr-primary-100: #CFD8DC;
    --clr-primary-200: #B0BEC5;
    --clr-primary-300: #90A4AE;
    --clr-primary-400: #78909C;
    --clr-primary-500: #607D8B;
    --clr-primary-600: #546E7A;
    --clr-primary-700: #455A64;
    --clr-primary-800: #37474F;
    --clr-primary-900: #263238;

    --clr-A100: #FFFF8D;
    --clr-A200: #FFFF00;
    --clr-A400: #FFEA00;
    --clr-A700: #FFD600;

    --br: 15px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
border: 2px solid red;
padding: 2px;
*/

body {
    display: block;
    text-align: center;
    height: 100vh;
}

.tabInactive {
    display: none;
}

#todo-title,
#todo-content,
#project-name {
    justify-content: center;
    margin-top: 20px;
    width: 95%;
    border-radius: var(--br);
    padding: 5px;
}

main {
    /* By setting margin auto we center the div :) */
    margin-left: auto;
    margin-right: auto;
    width: min(90vh, 90vw);
    padding-top: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tabButton {
    border-radius: var(--br);
    width: 75px;
    height: 2em;
    background-color: var(--clr-primary-500);
    color: white;
}

.header {
    background-color: var(--clr-primary-100);
}


.footer {}